body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

  h1 {
    animation: blink 5s 3;
    font-size: 3em;
    color: aqua;
    text-align: center;
  }